{% extends "base.html" %}
{% block title %}Register{% endblock %}
{%block content%}
<body class="bg-white">
    {% if messages %}
    {{message.tags}}
<div class="alert alert-primary" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}  
</div>
{% endif %}
<header class="py-8 py-md-10" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">Review Page</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    Review Page
                </li>
            </ol>
        </nav>
    </div>
    <img class="d-none img-fluid" src="...html" alt="...">
</header>
<div class="container pb-6 pb-xl-20">
    <form name="checkout"  class="checkout woocommerce-checkout" action="#" enctype="multipart/form-data">
        <div class="col2-set" id="customer_details">
            <div class="col-1">
                <div class="woocommerce-billing-fields">
                    <h3> Details</h3>
                    <div class="woocommerce-billing-fields__field-wrapper">
                        <p class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field" id="billing_first_name_field" data-priority="10">
                            <label for="billing_first_name" class="">First name :<b> {{user.first_name}}</b><abbr class="required" title="required"></abbr></label>
                           
                        </p>
                        <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                            <label for="billing_last_name" class="">Last name :<b> {{user.last_name}}</b><abbr class="required" title="required"></abbr></label>
                           
                        </p>
                       
                        <p class="form-row form-row-wide" id="billing_company_field" data-priority="30">
                            <label for="billing_company" class="">Roll Number : <b>{{query.roll}}</b>
                            </label>
                        </p>
                    
                        <p class="form-row form-row-wide" id="billing_company_field" data-priority="30">
                            <label for="billing_company" class="">Semester : <b>{{query.semester}}</b>
                            </label>
                        </p>
                        <p class="form-row form-row-wide" id="billing_company_field" data-priority="30">
                            <label for="billing_company" class="">Year : <b>{{query.year}}</b>
                            </label>
                        </p>
                        <h4>Subjects Details</h4>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot A:<b>{{slotA}}</b> <abbr class="required" title="required"></abbr></label>
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
        
                            <label for="billing_country" class="">Slot B:<b>{{slotB}}</b> <abbr class="required" title="required"></abbr></label>
                           
                        </p>

                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot C:<b>{{slotC}}</b> <abbr class="required" title="required"></abbr></label>
                           
                           
                           
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot D:<b>{{slotD}}</b> <abbr class="required" title="required"></abbr></label>
                          
                          
                           
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot E:<b>{{slotE}}</b> <abbr class="required" title="required"></abbr></label>
                           
                      
                            
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot F:<b>{{slotF}}</b> <abbr class="required" title="required"></abbr></label>
                           
                          
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot G:<b>{{slotG}}</b> <abbr class="required" title="required"></abbr></label>
                            
                         
                           
                        </p>
                        <p class="form-row form-row-wide address-field update_totals_on_change validate-required woocommerce-validated" id="billing_country_field" data-priority="40">
                            <label for="billing_country" class="">Slot H:<b>{{slotH}}</b> <abbr class="required" title="required"></abbr></label>
                            
                          
                           
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <label for="modalSignupPassword3">
                   Photograph
                </label>
                <img src="{{photo}}" style="height :100px">
            </div>

            <div class="col-2">
                <div class="woocommerce-shipping-fields"></div>
                
            </div>
        </div>
        <button class="btn btn-block btn-primary" type="submit">
            SUBMIT
        </button>
        
    </form>
</div>
    {%endblock content%}